
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: url('https://img.freepik.com/free-vector/technology-halftone-modern-background_1409-856.jpg?ga=GA1.1.1765251851.1748722427&semt=ais_items_boosted&w=740') no-repeat center/cover;
}


.container {
  max-width: 1000px;
  margin: auto;
  padding: 28px;

}

header {
  background-color: #0a9bf0;
  
}

header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 40px;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 700px;
}

.nav-links a {
  color: #f3efef;
  text-decoration: none;
  font-weight: bold;
}


.about-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: rgb(152, 11, 207);
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -400px;
  padding-top: 0px;
  margin-top: 0px;
}

footer {
  text-align: center;
  background-color: #0a9bf0;
  margin-top: 200px;
  padding: 33px 0 33px;
}

footer p {
  margin-top: 10px;
  color: #fff;
  display: inline-flex;
  gap: 60px;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }
}
